<div class="ion-padding container">
    <div class="header">
        <h4>Summary</h4>
        <ion-label>of your Monthly Surprise Box</ion-label>
    </div>

    <div class="box amount">
        <p class="title">
            Mystery Box
            <span class="detail">x1</span>
        </p>
        <p class="value">
            <span class="sar">SAR</span> 456
            <span class="detail">Monthly</span>
        </p>
    </div>


    <div class="sub-total">
        <div class="amount">
            <p class="title">
                Subtotal
            </p>
            <p class="value">
                <span class="sar">SAR</span> 456
            </p>
        </div>
        <div class="amount">
            <p class="title">
                Shipping
            </p>
            <p class="value">
                <span class="free">Free</span>
            </p>
        </div>
        <div class="amount">
            <p class="title">
                Taxes
            </p>
            <p class="value">
                <span class="sar">SAR</span> 456
            </p>
        </div>
    </div>

    <div class="total amount">
        <p class="title">
            Total

        </p>
        <p class="value">
            <span class="sar">SAR</span> 460

        </p>
    </div>


    <div>

        <ion-button [disabled]="disable" (click)="onSubmit()" class="ion-margin-top" expand="block" fill="outline">
            Continue to payment
        </ion-button>
    </div>
</div>