<ion-content [fullscreen]="true">
    <app-header [allowBack]="true"></app-header>

    <ion-row class="ion-justify-content-center ion-margin">
        <ion-col sizeSm="12" sizeMd="9">
            <ion-card>
                <ion-row>
                    <ion-col sizeSm="12" sizeMd="8">
                        <app-subscribe-form #subscribeForm (isSubmit)="onSubmitClicked($event)"></app-subscribe-form>
                    </ion-col>
                    <ion-col sizeSm="12" sizeMd="4">
                        <app-summary (isSubmit)="onSubmitClicked($event)"></app-summary>
                    </ion-col>
                </ion-row>
        
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>