<div class="container">
    <ion-grid>
        <ion-row >
            <ion-col sizeXs="12" offsetLg="4" sizeLg="4">
                <h1 class="ion-padding-horizontal">Discover the magic of our surprise box</h1>
            </ion-col>

            <ion-col sizeXs="12" offsetLg="4" sizeLg="4">
                <p class="ion-padding-horizontal">Unleash your child's curiosity with our educational subscription box filled with fun and learning.
                </p>
            </ion-col>

            <ion-col  class="btn-container" size="12" >
                <ion-button class="btn ion-margin-bottom"   color="light">
                    Subscribe Now
                </ion-button>
            </ion-col>

            <ion-col size="12" class="intro-img ion-margin-top">
                <img src="assets/images/intro.png" alt="">
            </ion-col>
        </ion-row>
    </ion-grid>
</div>