.container {
    color: #000;
    text-align: center;

    ion-row {
        padding: 74px 0;
    }

    .bg {
        position: absolute;
        width: 100vw;
        height: 125vh;
        left: 0;
    }

    h1 {
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 120%;
    }

    p {
        font-size: 24px;
        font-style: normal;
        line-height: 150%;
    }

    .btn-container {
        // background: #FFF9E6;
        display: flex;
        justify-content: center;

        .btn {
            font-weight: bold;
            --border-radius: 19px;
            --padding-top: 1.5em;
            --padding-bottom: 1.5em;
            --padding-end: 1.5em;
            --padding-start: 1.5em
        }
    }
    
}
@media (max-width: 768px) {
    .container {
        background-color: #fff9e6;

        .bg {
            display: none;
        }

        .btn-container {
            .btn {
                --border-radius: 11px;
                --padding-top: 1em;
                --padding-bottom: 1em;
                --padding-end: 1.5em;
                --padding-start: 1.5em
            }
        }

        h1 {
            font-size: 34px;
        }

        p {
            font-size: 18px;
        }
    }

}